body {
    --background: black;
}

#board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: scale(1.1) translate(-50%, -50%);
    height: 60vh;
    aspect-ratio: 0.5;
}

#backboard,
#backborder {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    outline: 0.2vh solid var(--cl-blue);
    box-shadow: 0 0 5vh var(--l-gray);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#backboard {
    --blur-size: 7vmin;
    --spin-speed: 6s;
    --blur-radius: 20vmin;
    --blur-strength: 0;
    --colours: #ff4545, #00ff99, #006aff, #ff0095, #ff4545;
}

#backborder {
    --blur-size: 0.3vmin;
    --spin-speed: 2s;
    --blur-radius: 0.3vmin;
    --blur-strength: 0;
    --colours: #ff4545, #00ff99, #006aff, #ff0095, #ff4545;
}

#backboard::before,
#backborder::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), var(--colours));
    padding: var(--blur-size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vmin;
    animation: var(--spin-speed) spin linear infinite;
    filter: blur(var(--blur-radius));
    opacity: var(--blur-strength);
    transition: all 1s ease;

}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

#backboard::after, 
#backborder::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

#board.boardDanger {
    outline-color: red !important;
    box-shadow: 0 0 3vh red;
    transition: all 0.2s ease;
}

#dangerOverlay {
    position: absolute;
    background-color: red;
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#playingfield {
    position: fixed;
    width: 100%;
    height: 200%;
    top: -100%;
}

#clickareas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.clickmino {
    user-select: none;
    z-index: 10;
}

.highlighting {
    background-color: #7d7d7d4e;
}

#grid {
    position: fixed;
    width: 100%;
    height: 100%;
}

#next {
    position: fixed;
    left: 101%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 75%;
    width: 40%;
    border-radius: 0 1.5vh 1.5vh 0;
    outline: 0.2vh solid var(--cl-blue);
    background-color: black;
    transition: all 0.3s ease;
}

#hold {
    position: fixed;
    left: -40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 15%;
    width: 39.5%;
    border-radius: 1.5vh 0 0 1.5vh;
    background-color: black;
}

#lockTimer,
#lockCounter {
    position: absolute;
    bottom: -0.8vh;
    width: 100%;
    height: 0.8vh;
    border-radius: 0.5vh;
}

#lockCounter {
    bottom: -1.4vh;
    height: 0.6vh;
}

#lockTimer::-webkit-progress-bar,
#lockCounter::-webkit-progress-bar,
#garbageQueue::-webkit-progress-bar {
    background-color: var(--invis);
}

#lockTimer::-webkit-progress-value,
#lockCounter::-webkit-progress-value {
    background-color: var(--cl-blue);
    border-radius: 0.7vh;
}

#garbageQueue {
    position: absolute;
    width: 122vh;
    height: 0.5vh;
    border-radius: 0.5vh;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    left: -2%;
    bottom: -1%;
}

#garbageQueue::-webkit-progress-value {
    background-color: red;
    border-radius: 0.7vh;
}

.actiontext,
.statstext {
    position: fixed;
    font-size: 3vh;
    text-shadow: 0 0 3vh var(--vl-gray);
    margin: 0;
    text-align: right;
    width: 200%;
    user-select: none;
    transition: all 0.2s ease;
    right: 105%;
}

.actiontext {
    opacity: 0;
}

.smalltext {
    user-select: none;
}

.text {
    position: fixed;
    font-size: 3vh;
    margin: 0;
    user-select: none;
}

.nextText {
    left: 110%;
    bottom: 100%;
}

.holdText {
    right: 110%;
    bottom: 100%;
}

.objectiveText {
    left: 110%;
    bottom: 10%;
}

#redochoices {
    position: absolute;
    top: 100%;
    left: 110%;
    width: max-content;
    max-width: 40vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.redochoice {
    height: 3.5vh;
    aspect-ratio: 1/1;
    border: 0.3vh solid var(--l-gray);
    border-radius: 10vmin;
    transition: all 0.3s ease-out;
    background-color: var(--invis);
    outline: none;
    color: var(--l-gray);
    margin: 0.3vmin;
}

.redochoice:hover {
    border-color: var(--cl-blue);
    color: var(--cl-blue);
    transition: all 0.05s ease;
}

.redochoice.selected {
    border-color: var(--p-green);
    color: var(--p-green);
}

.redochoice.selected:hover {
    border-color: var(--green);
    color: var(--green);
    transition: all 0.05s ease;
}