#settingsPanel[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: none;
    width: 100vw;
    height: 50vh;
    background-color: var(--invis);
    overflow: visible;
}

#settingsPanel>br {
    width: 100%;
    content: ' ';
}

button>img {
    -webkit-user-drag: none;
}

.settingPanelButton {
    margin: 1%;
    height: 18vh;
    aspect-ratio: 1/1;
    border: 0.3vh solid var(--l-gray);
    border-radius: 1.5vh;
    transition: all 0.5s ease-out;
    background-color: var(--invis);
    padding: 0.5vh;
    outline: none;
}

.settingPanelButton:disabled, .smallPanelButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.smallPanelButton,
.smallerPanelButton {
    height: 6vh;
    aspect-ratio: 1/1;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.smallerPanelButton {
    height: 4vh;
    border-radius: 0.7vh;
    border-width: 0.2vh;
}

.settingPanelButton:hover {
    border: 0.3vh solid var(--cl-blue);
    transition: all 0.1s ease;
}

.smallerPanelButton:hover {
    border-width: 0.2vh;
}

#songSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 15vh;
    overflow: visible;
    white-space: nowrap;
    opacity: 0.4;
    transition: all 0.5s ease;
}

#songSelector:hover {
    opacity: 0.8;
    transition: all 0.1s ease;
}

#songText {
    position: absolute;
    transform: translateY(-4vh);
    align-self: center;
    padding: 0;
    margin: 0;
}

#songProgress {
    height: 0.8vh;
    border-radius: 5vh;
}

#songProgress::-webkit-progress-bar {
    background-color: var(--e-black);
    border-radius: 5vh;
}

#songProgress::-webkit-progress-value {
    background-color: var(--cl-blue);
    border-radius: 5vh;
}

.dialog {
    font-family: "Montserrat", sans-serif;
    height: 75vh;
    aspect-ratio: 1/1.4;
    background-color: var(--almost-invis);
    padding: 1%;
    padding-left: 0;
    color: var(--cl-blue);
    border-radius: 2vh;
    user-select: none;
    animation: zoomin 0.3s forwards ease;
    outline: none;
    overflow: hidden;
    font-size: 1.8vh;
    text-shadow: 0 0 5vh var(--vl-gray);
    border: 0.3vh solid var(--vl-gray);
}

.dialog label {
    pointer-events: none;
}

.dialog h1 {
    text-align: center;
}

.dialog h3 {
    margin-left: 1vw;
}

#gamemodeDialog {
    overflow-x: hidden;
    overflow-y: scroll;
}

#handlingDialog,
#volumeDialog {
    height: 40vh;
    aspect-ratio: 6/5;
}

#editMenu {
    height: 60vh;
    aspect-ratio: 5/6;
}

#gameEnd {
    text-align: center;
    height: 30vh;
    aspect-ratio: 1.5/1;
}

.dialog.closingAnimation {
    animation: zoomout 0.3s forwards ease;
}

.dialog::backdrop {
    background-color: #000000b5;
    backdrop-filter: blur(5px);
    animation: fadein 0.4s forwards ease;
}

.dialog.closingAnimation::backdrop {
    animation: fadeout 0.4s forwards ease;
}

#queueModify {
    height: 28vh;
    aspect-ratio: 1.6/1;
}

.settingLayout {
    width: 100%;
    padding: 1vh;
    padding-left: 2vh;
    transition: all 0.7s ease;
    border: 0.2vh solid var(--invis);
}

.settingLayout:hover {
    border-top: 0.2vh solid var(--c-blue);
    border-bottom: 0.2vh solid var(--c-blue);
    animation: pulse 2s infinite ease;
    animation-delay: 0.5s;
    transition: all 0s ease;
}

#changeRangeValue {
    height: 20vh;
    aspect-ratio: 1.3/1;
}

#changeRangeValue>div {
    height: 1.6vh;
    border: none;
}

#changeRangeValue>div:hover {
    border: none;
}

#changeRangeValue>div>input {
    right: auto;
    left: 35%;
}

.option {
    position: absolute;
    right: 10%;
}

.color {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    width: 17%;
    height: 5vh;
    right: 15%;
    transform: translateY(-1.5vh);
    transition: all 0.4s ease;
}

.range {
    appearance: none;
    -webkit-appearance: none;
    height: 1vh;
    width: 40%;
    right: 3%;
    border-radius: 5px;
    background: var(--c-blue);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    transform: translateY(0.5vh);
}

.check {
    width: 3vh;
    height: 3vh;
    right: 19%;
    transform: translateY(-1vh);
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.5vh;
    transition: all 0.4s ease;
}

.check:checked {
    background-color: var(--p-green);
    border: none;
}

.number {
    width: 25%;
    height: 2.6vh;
    right: 8%;
    padding: 1%;
    transform: translateY(-0.8vh);
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.3vh;
    color: var(--cl-blue);
    font-size: 1.2em;
}

.textInput {
    width: 50%;
    height: 2.4vh;
    right: 5%;
    padding: 0.5%;
    transform: translateY(-0.6vh);
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.3vh;
    color: var(--cl-blue);
    font-size: 0.9em;
}

.closeDialog {
    position: absolute;
    right: 30%;
    width: 40%;
    height: auto;
    padding: 1vh;
    bottom: 2%;
    background-color: var(--invis);
    border: 0.2vh solid var(--gray);
    border-radius: 1vh;
    font-size: 1.3em;
    color: var(--cl-blue);
    transition: all 0.4s ease;
}

.gamemodeSelect,
.customGameAction {
    outline: none;
    width: 100%;
    padding: 1vh;
    background-color: var(--invis);
    border: 0.3vmin solid var(--gray);
    border-radius: 1vh;
    font-size: 1.3em;
    color: var(--cl-blue);
    transition: all 0.4s ease;
    margin: 0.5vh;
}

.gamemodeSelect.selected {
    border: 0.3vh solid var(--p-green);
}

.gamemodeSelect.selected:hover,
.gamemodeSelect.selected:focus {
    border: 0.3vh solid var(--green);
}

.keybind {
    width: 30%;
    height: 5%;
    padding: 0.5vh;
    background-color: var(--invis);
    border: 0.2vh solid var(--almost-invis);
    border-radius: 0.5vh;
    font-size: 1em;
    color: var(--c-blue);
    transition: all 0.4s ease;
    transform: translateY(-1vh);
}

.resetIcon {
    position: absolute;
    padding-top: 0.8vh;
    right: 1vw;
    bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    aspect-ratio: 1/1;
    border: 0.2vh solid var(--gray);
    border-radius: 1vh;
    background-color: var(--invis);
    transition: all 0.4s ease;
    outline: none;
}

.closeDialog:hover,
.keybind:hover,
.gamemodeSelect:hover,
.customGameAction:hover,
.resetIcon:hover {
    color: white;
    border-color: white;
    transition: all 0.1s ease;
}

#frontdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--slight-invis);
    overflow: hidden;
    color: var(--cl-blue);
    outline: none;
    user-select: none;
    border: none;
    animation: fadein 0.4s forwards ease;
    font-family: "Montserrat", sans-serif;
}

#frontdrop.closingAnimation {
    animation: fadeout 0.2s forwards ease;
}

#selectkeydiv {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-shadow: 0 0 3vh white;
}

#selectkeybigtext {
    transform: translateY(-8vh);
}

#selectkeytext {
    position: absolute;
    top: 46vh;
    font-size: 0.3em;
    text-shadow: 0 0 3vh white;
}

.smalltext,
.smalltextdialog {
    position: absolute;
    font-size: 0.9em;
    color: var(--l-gray);
}

.smalltextdialog {
    text-align: center;
    width: 100%;
    bottom: 6vh;
}

#smallStat1,
#smallStat2 {
    right: 150%;
    font-size: 2.1vh;
    text-align: right;
}

#explanationText, #updatetext {
    display: flex;
    margin: 0;
    opacity: 0.4;
}

#explanationText>.spanright {
    flex: 1;
    text-align: right;
    padding-right: 1vw;
    width: 15vw;
}

#explanationText>.spanleft {
    flex: 1;
    padding-left: 1vw;
}

.pieceselection {
    height: 5vmin;
    aspect-ratio: 1/1;
    margin: 0.3vw;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    margin-bottom: 2vh;
}

.pieceselection:hover {
    transform: scale(1.1);
}

.pieceselection:active {
    transform: scale(0.9);
}

.customGameAction {
    width: 50%;
    padding: 1vmin;
    font-size: 1em;
    margin-left: 1vw;
}

.color::-webkit-color-swatch {
    border-radius: 0.5vh;
    border: 1px solid var(--e-black);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: var(--cl-blue);
    cursor: pointer;
    transition: all 0.2s ease;
}

.range::-webkit-slider-thumb:hover {
    width: 2.7vh;
    height: 2.7vh;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#editbuttons {
    display: flex;
    gap: 1vw;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3vh;
}

#editbuttons>br {
    width: 100%;
    content: ' ';
}

.pbbox {
    display: flex;
    justify-content:center;
    align-items:baseline;
    gap: 2vw;
    background-color: rgba(172, 183, 232, 0.095);
}
.pbbox>h2 {
    margin: 0;
}

#nofocus {
    font-family: "Montserrat", sans-serif;
    display: none;
    opacity: 1;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
    color: red;
    font-size: 2.5em;
    padding: .2em;
    background-color: #000A;
    transition: 0.2s;
}

#nofocus span {
    display: block;
    color: #fff;
    font-size: .6em;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes zoomin {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomout {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}