body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

#board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 0.5;
    border: 2px solid rgb(190, 190, 190);
}

#playingfield {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: -1px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#grid {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#next {
    position: fixed;
    top: -0.3%;
    left: 100.3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 75%;
    width: 40%;
    border: 2px solid rgb(255, 202, 202);
}

#hold {
    position: fixed;
    top: -0.3%;
    left: -40.9%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 15%;
    width: 40%;
    border: 2px solid rgb(202, 195, 255);
}

.actiontext {
    position: fixed;
    font-size: 2vw;
    margin: 0;
    text-align: right;
    width: 200%;
}

.text {
    position: fixed;
    font-size: 2vw;
    margin: 0;
}

.dangerZone {
    background-color: rgb(255, 2, 2);
}