@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --night: #080B0C;
    --e-black: #1B1E22;
    --c-blue: #ACCBE1;
    --cl-blue: #dbeaf3;
    --l-gray: #ffffff50;
    --vl-gray: #ffffffc4;
    --invis: #00000000;
    --almost-invis: #00000024;
    --slight-invis:#000000cf;
    --p-green: #53b565;
    --green: #30f24d;
    --gray:#808080;
}

body {
    color: var(--cl-blue);
    font-family: "Major Mono Display", monospace;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--night);
}

#board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: scale(1.1) translate(-50%, -50%);
    height: 60vh;
    aspect-ratio: 0.5;
    outline: 0.2vh solid var(--cl-blue);
    box-shadow: 0 0 5vh var(--l-gray);
    background-color: black;
    transition: outline 0.5s ease;
}

#board.boardDanger {
    outline-color: red !important;
    transition: all 0.2s ease;
}

#dangerOverlay {
    position: absolute;
    background-color: rgb(255, 0, 0);
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#playingfield {
    position: fixed;
    width: 100%;
    height: 200%;
    top: -100%;
}

#grid {
    position: fixed;
    width: 100%;
    height: 100%;
}

#next {
    position: fixed;
    left: 101%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 75%;
    width: 40%;
    border-radius: 0 1.5vh 1.5vh 0;
    outline: 0.2vh solid var(--cl-blue);
    background-color: black;
}

#hold {
    position: fixed;
    left: -40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 15%;
    width: 39.5%;
    border-radius: 1.5vh 0 0 1.5vh;
    background-color: black;
}

#lockTimer,
#lockCounter {
    position: absolute;
    bottom: -0.8vh;
    width: 100%;
    height: 0.8vh;
    border-radius: 0.5vh;
}

#lockCounter {
    bottom: -1.4vh;
    height: 0.6vh;
}

#lockTimer::-webkit-progress-bar,
#lockCounter::-webkit-progress-bar,
#garbageQueue::-webkit-progress-bar {
    background-color: var(--invis);
}

#lockTimer::-webkit-progress-value,
#lockCounter::-webkit-progress-value {
    background-color: var(--cl-blue);
    border-radius: 0.7vh;
}

#garbageQueue {
    position: absolute;
    width: 122vh;
    height: 0.5vh;
    border-radius: 0.5vh;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    left: -2%;
    bottom: -1%;
}

#garbageQueue::-webkit-progress-value {
    background-color: red;
    border-radius: 0.7vh;
}

.actiontext,
.statstext {
    position: fixed;
    font-size: 3.0vh;
    text-shadow: 0 0 3vh var(--vl-gray);
    margin: 0;
    text-align: right;
    width: 200%;
    user-select: none;
    transition: all 0.2s ease;
    right: 105%;
}

.actiontext {
    opacity: 0;
}

.text {
    position: fixed;
    font-size: 3.0vh;
    margin: 0;
    user-select: none;
}

.nextText {
    left: 110%;
    bottom: 100%;
}

.holdText {
    right: 110%;
    bottom: 100%;
}

.objectiveText {
    left: 110%;
    bottom: 10%;
}

#openSettingsButton {
    top: 5%;
    position: fixed;
    left: 126%;
    display: flex;
    justify-content: right;
    padding-right: 3%;
    align-items: center;
    height: 8%;
    width: 24%;
    border: 0.2vh solid var(--l-gray);
    border-radius: 0 1.5vh 1.5vh 0;
    transition: all 0.5s ease-out;
    background-color: var(--invis);
    outline: none;
}

#openSettingsButton:hover {
    left: 133%;
    border: 0.2vh solid var(--cl-blue);
    transition: all 0.2s ease;
}

#openSettingsButton>img {
    transform: translateY(10%);
    height: 90%;
    user-select: none;
}

#settingsPanel[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 31vh;
    aspect-ratio: 3/1;
    border: none;
}

button>img {
    -webkit-user-drag: none;
}

.settingPanelButton {
    margin: 2%;
    height: 18vh;
    aspect-ratio: 1/1;
    border: 0.3vh solid var(--l-gray);
    border-radius: 1.5vh;
    transition: all 0.5s ease-out;
    background-color: var(--invis);
    padding: 0.5vh;
    outline: none;
}

.smallPanelButton {
    height: 6vh;
    aspect-ratio: 1/1;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.settingPanelButton:hover {
    border: 0.3vh solid var(--cl-blue);
    transition: all 0.1s ease;
}

.dialog {
    font-family: 'Montserrat', sans-serif;
    height: 75vh;
    aspect-ratio: 1/1.4;
    background-color: var(--almost-invis);
    padding: 1%;
    padding-left: 0;
    color: var(--cl-blue);
    border-radius: 2vh;
    user-select: none;
    animation: zoomin 0.3s forwards ease;
    outline: none;
    overflow: hidden;
    font-size: 1.8vh;
    text-shadow: 0 0 5vh var(--vl-gray);
    border: 0.3vh solid var(--vl-gray);
}

.dialog h1 {
    text-align: center;
}

#gamemodeDialog {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 65vh;
    aspect-ratio: 1/1.3;
}

#gameEnd {
    text-align: center;
    height: 30vh;
    aspect-ratio: 1.5/1;
}

.dialog.closingAnimation {
    animation: zoomout 0.3s forwards ease;
}

.dialog::backdrop {
    background-color: #000000b5;
    backdrop-filter: blur(5px);
    animation: fadein 0.4s forwards ease;
}

.dialog.closingAnimation::backdrop {
    animation: fadeout 0.4s forwards ease;
}

#queueModify {
    height: 28vh;
    aspect-ratio: 1.6/1;
}

.settingLayout {
    width: 100%;
    padding: 1vh;
    padding-left: 2vh;
    transition: all 0.7s ease;
    border: 0.2vh solid var(--invis);
}

.settingLayout:hover {
    border-top: 0.2vh solid var(--c-blue);
    border-bottom: 0.2vh solid var(--c-blue);
    animation: pulse 2s infinite ease;
    animation-delay: 0.5s;
    transition: all 0s ease;
}

.option {
    position: absolute;
    right: 10%;
}

.color {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    width: 17%;
    height: 5vh;
    right: 15%;
    transform: translateY(-1.5vh);
    transition: all 0.4s ease;
}

.range {
    appearance: none;
    -webkit-appearance: none;
    height: 1vh;
    width: 40%;
    right: 3%;
    border-radius: 5px;
    background: var(--c-blue);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translateY(0.5vh);
}

.check {
    width: 3.0vh;
    height: 3.0vh;
    right: 19%;
    transform: translateY(-1vh);
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.5vh;
    transition: all 0.4s ease;
}

.check:checked {
    background-color: var(--p-green);
    border: none;
}

.number {
    width: 25%;
    height: 2.6vh;
    right: 8%;
    padding: 1%;
    transform: translateY(-0.8vh);
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.3vh;
    color: var(--cl-blue);
    font-size: 1.2em;
}

.textInput {
    width: 50%;
    height: 2.4vh;
    right: 5%;
    padding: 0.5%;
    transform: translateY(-0.6vh);
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.3vh;
    color: var(--cl-blue);
    font-size: 0.9em;
}

.closeDialog {
    position: absolute;
    right: 30%;
    width: 40%;
    height: auto;
    padding: 1vh;
    bottom: 2%;
    background-color: var(--invis);
    border: 0.2vh solid var(--almost-invis);
    border-radius: 1vh;
    font-size: 1.3em;
    color: var(--cl-blue);
    transition: all 0.4s ease;
}

.gamemodeSelect {
    outline: none;
    width: 100%;
    padding: 1vh;
    background-color: var(--invis);
    border: 0.2vh solid var(--gray);
    border-radius: 1vh;
    font-size: 1.3em;
    color: var(--cl-blue);
    transition: all 0.4s ease;
    margin: 0.5vh;
}

.gamemodeSelect.selected {
    border: 0.3vh solid var(--p-green);
}

.gamemodeSelect.selected:hover,
.gamemodeSelect.selected:focus {
    border: 0.3vh solid var(--green);
}

.keybind {
    width: 30%;
    height: 5%;
    padding: 0.5vh;
    background-color: var(--invis);
    border: 0.2vh solid var(--almost-invis);
    border-radius: 0.5vh;
    font-size: 1em;
    color: var(--c-blue);
    transition: all 0.4s ease;
    transform: translateY(-1vh);
}

.resetIcon {
    position: absolute;
    padding-top: 0.8vh;
    right: 5%;
    bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    aspect-ratio: 1/1;
    border: 0.2vh solid var(--gray);
    border-radius: 1vh;
    background-color: var(--invis);
    transition: all 0.4s ease;
    outline: none;
}

.closeDialog:hover,
.keybind:hover,
.gamemodeSelect:hover,
.resetIcon:hover {
    color: white;
    border-color: white;
    transition: all 0.1s ease;
}

#frontdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--slight-invis);
    overflow: hidden;
    color: var(--cl-blue);
    outline: none;
    user-select: none;
    border: none;
    animation: fadein 0.4s forwards ease;
    font-family: 'Montserrat', sans-serif;
}

#frontdrop.closingAnimation {
    animation: fadeout 0.2s forwards ease;
}

#selectkeydiv {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-shadow: 0 0 3vh white;
}

#selectkeybigtext {
    transform: translateY(-8vh);
}

#selectkeytext {
    position: absolute;
    top: 46vh;
    font-size: 0.3em;
    text-shadow: 0 0 3vh white;
}

.smalltext,
.smalltextdialog {
    position: absolute;
    font-size: 1.4vh;
    color: var(--l-gray);
}

.smalltextdialog {
    text-align: center;
    left: 0;
    width: 100%;
    bottom: 10%;
}

#smallStat1,
#smallStat2 {
    right: 150%;
    font-size: 2.1vh;
    text-align: right;
}

#explanationText {
    position: absolute;
    text-align: center;
    top: 30vh;
    opacity: 0.4;
}

.color::-webkit-color-swatch {
    border-radius: 0.5vh;
    border: 1px solid var(--e-black);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: var(--cl-blue);
    cursor: pointer;
    transition: all 0.2s ease;
}

.range::-webkit-slider-thumb:hover {
    width: 2.7vh;
    height: 2.7vh;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-track {
    border-radius: 1vh;
    background: var(--invis);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background: var(--vl-gray);
}

::-webkit-scrollbar-thumb:hover {
    background: white;
    transition: all 0.2s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomin {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomout {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}