@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --night: #080B0C;
    --e-black: #1B1E22;
    --c-blue: #ACCBE1;
    --cl-blue: #dbeaf3;
}

body {
    color: var(--cl-blue);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--night);
}

#board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 0.5;
    border: 2px solid var(--cl-blue);
    box-shadow: 0 0 20px #ffffff58;
}

#playingfield {
    position: fixed;
    width: 100%;
    height: 200%;
    top: -100%;
    display: grid;
    grid-gap: -1px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(40, 1fr);
    direction: rtl;
}

#playingfield>div {
    direction: ltr
}

.shadow {
    z-index: -1;
}

#playingfield,
#playingfield>div {
    transform: rotate(180deg);
}

#grid {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#next {
    position: fixed;
    top: -0.3%;
    left: 100.3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 75%;
    width: 40%;
    border-radius: 0 1.5vh 1.5vh 0;
}

#hold {
    position: fixed;
    top: -0.3%;
    left: -40.9%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 15%;
    width: 40%;
    border-radius: 1.5vh 0 0 1.5vh;
}

#lockTimer,
#lockCounter {
    position: absolute;
    bottom: -0.8vh;
    width: 100%;
    height: 0.8vh;
    border-radius: 5px;
}

#lockCounter {
    bottom: -1.4vh;
    height: 0.6vh;
}

#lockTimer::-webkit-progress-bar,
#lockCounter::-webkit-progress-bar {
    background-color: #00000000;
}

#lockTimer::-webkit-progress-value {
    background-color: var(--cl-blue);
    border-radius: 7px;
}

#lockCounter::-webkit-progress-value {
    background-color: var(--c-blue);
    border-radius: 7px;
}

.actiontext,
.statstext {
    position: fixed;
    font-size: 3.5vh;
    text-shadow: 0 0 10px #ffffffc4;
    margin: 0;
    text-align: right;
    width: 200%;
    user-select: none;
    transition: all 0.2s ease;
}

.actiontext {
    opacity: 0;
}

.text {
    position: fixed;
    font-size: 3.5vh;
    margin: 0;
    user-select: none;
}

.settings {
    position: fixed;
    left: 126%;
    display: flex;
    justify-content: right;
    padding-right: 3%;
    align-items: center;
    height: 8%;
    width: 24%;
    border: 2px solid rgba(255, 255, 255, 0.288);
    border-radius: 0 1.5vh 1.5vh 0;
    transition: all 0.3s ease-out;
    background-color: rgba(255, 255, 255, 0);
}

.settings:hover {
    left: 133%;
    border: 2px solid var(--cl-blue);
}

.dialog {
    height: 75vh;
    width: 28vw;
    min-width: 380px;
    background-color: var(--e-black);
    padding-left: 2%;
    padding-right: 2%;
    color: var(--cl-blue);
    border: none;
    border-radius: 2vh;
    user-select: none;
    animation: zoomin 0.4s forwards ease;
    outline: none;
    overflow: hidden;
}

#gamemodeDialog {
    height: 50vh;
    width: 25vw;
}

#gameEnd {
    text-align: center;
    height: 30vh;
    width: 25vw;
}

.dialog.closingAnimation {
    animation: zoomout 0.4s forwards ease;
}

.dialog::backdrop {
    background-color: #000000bb;
    backdrop-filter: blur(3px);
    animation: fadein 0.2s forwards ease;
}

.dialog.closingAnimation::backdrop {
    animation: fadeout 0.2s forwards ease;
}

.settingLayout {
    width: 100%;
    padding: 1vh;
    padding-right: 0;
    transition: all 0.4s ease;
    border: 2px solid #00000000;
    margin: 0.4vh;
}

.settingLayout:hover {
    border-top: 2px solid var(--c-blue);
    border-bottom: 2px solid var(--c-blue);
    animation: pulse 2s infinite ease;
    animation-delay: 1s;
}

.option {
    position: absolute;
    right: 10%;
}

.color {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    width: 17%;
    height: 5vh;
    right: 15%;
    transform: translateY(-1.5vh);
    transition: all 0.4s ease;
}

.color::-webkit-color-swatch {
    border-radius: 0.5vh;
    border: 1px solid var(--e-black);
}

.range {
    appearance: none;
    -webkit-appearance: none;
    height: 1vh;
    width: 40%;
    right: 3%;
    border-radius: 5px;
    background: var(--c-blue);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translateY(0.5vh);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: var(--cl-blue);
    cursor: pointer;
    transition: all 0.2s ease;
}

.range::-webkit-slider-thumb:hover {
    width: 2.7vh;
    height: 2.7vh;
}

.check {
    width: 3.5vh;
    height: 3.5vh;
    right: 19%;
    transform: translateY(-1vh);
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.5vh;
    transition: all 0.4s ease;
}

.check:checked {
    background-color: #53b565;
    border: none;
}

.number {
    width: 25%;
    height: 2.6vh;
    right: 8%;
    padding: 1%;
    transform: translateY(-0.8vh);
    background-color: var(--e-black);
    border: 1px solid var(--c-blue);
    border-radius: 0.3vh;
    color: var(--cl-blue);
    font-size: 1.2em;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.closeDialog {
    position: absolute;
    right: 30%;
    width: 40%;
    height: auto;
    padding: 10px;
    bottom: 3%;
    background-color: #00000000;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 1vh;
    font-size: 1.3em;
    color: var(--cl-blue);
    transition: all 0.4s ease;
}

.gamemodeSelect {
    width: 100%;
    padding: 1vh;
    background-color: #00000000;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 1vh;
    font-size: 1.3em;
    color: var(--cl-blue);
    transition: all 0.4s ease;
    margin: 0.5vh;
}

.keybind {
    width: 30%;
    height: 5%;
    padding: 5px;
    background-color: #00000000;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0.5vh;
    font-size: 1em;
    color: var(--c-blue);
    transition: all 0.4s ease;
    transform: translateY(-1vh);
}

.closeDialog:hover,
.keybind:hover,
.gamemodeSelect:hover {
    color: white;
    border-color: white;
}

.closeDialog,
.keybind,
.gamemodeSelect:disabled {
    border: 2px solid rgba(255, 255, 255, 0.138);
}

.closeDialog:disabled:hover,
.keybind:disabled:hover,
.gamemodeSelect:disabled:hover {
    border: 2px solid rgba(255, 255, 255, 0.138);
}

#frontdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000bb;
    overflow: hidden;
    color: var(--cl-blue);
    outline: none;
    user-select: none;
    border: none;
    animation: fadein 0.4s forwards ease;
}

#frontdrop.closingAnimation {
    animation: fadeout 0.2s forwards ease;
}

.selectkeydiv {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-shadow: 0 0 30px #ffffff;
}

.selectkeytext {
    position: absolute;
    top: 46vh;
    font-size: 0.3em;
    text-shadow: 0 0 30px #ffffff;
}

.smalltext {
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 1em;
    color: #ffffffa1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomin {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomout {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}