#board {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: scale(1.1) translate(-50%, -50%);
    height: 60vh;
    aspect-ratio: 0.5;
}

#backboard,
#backborder {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    outline: 0.2vh solid var(--cl-blue);
    box-shadow: 0 0 5vh var(--l-gray);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#backboard {
    --blur-size: 7vmin;
    --spin-speed: 6s;
    --blur-radius: 20vmin;
    --blur-strength: 0;
    --colours: #ff4545, #00ff99, #006aff, #ff0095, #ff4545;
}

#backborder {
    --blur-size: 0.3vmin;
    --spin-speed: 2s;
    --blur-radius: 0.3vmin;
    --blur-strength: 0;
    --colours: #ff4545, #00ff99, #006aff, #ff0095, #ff4545;
}

#backboard::before,
#backborder::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), var(--colours));
    padding: var(--blur-size);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vmin;
    animation: var(--spin-speed) spin linear infinite;
    filter: blur(var(--blur-radius));
    opacity: var(--blur-strength);
    transition: all 1s ease;
}

#backboard {
    outline: none;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

#backboard::after,
#backborder::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}

#backborder.boardDanger {
    outline: 0.2vh solid red !important;
    box-shadow: 0 0 3vh red !important;
    transition: all 0.5s ease;
}

#dangerOverlay {
    position: absolute;
    background-color: red;
    transition: all 0.2s ease;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#playingfield {
    position: fixed;
    width: 100%;
    height: 200%;
    top: -100%;
}

#clickareas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.clickmino {
    user-select: none;
    z-index: 10;
}

.highlighting {
    background-color: #7d7d7d4e;
}

#grid {
    position: fixed;
    width: 100%;
    height: 100%;
}

#next {
    position: fixed;
    left: 101%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 79%;
    width: 40%;
    border-radius: 0 1.5vh 1.5vh 0;
    outline: 0.2vh solid var(--cl-blue);
    background-color: black;
    transition: all 0.3s ease;
}

#hold {
    position: fixed;
    left: -40%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 15%;
    width: 39.5%;
    border-radius: 1.5vh 0 0 1.5vh;
    background-color: black;
}

#lockTimer,
#lockCounter {
    position: absolute;
    bottom: -0.8vh;
    width: 100%;
    height: 0.8vh;
    border-radius: 0.5vh;
}

#lockCounter {
    bottom: -1.4vh;
    height: 0.6vh;
}

#lockTimer::-webkit-progress-bar,
#lockCounter::-webkit-progress-bar,
#garbageQueue::-webkit-progress-bar {
    background-color: var(--invis);
}

#lockTimer::-moz-progress-bar,
#lockCounter::-moz-progress-bar,
#garbageQueue::-moz-progress-bar {
    background-color: var(--invis);
}

#lockTimer::-webkit-progress-value,
#lockCounter::-webkit-progress-value {
    background-color: var(--cl-blue);
    border-radius: 0.7vh;
}

#lockTimer::-moz-progress-value,
#lockCounter::-moz-progress-value {
    background-color: var(--cl-blue);
    border-radius: 0.7vh;
}

#climbSpeedBar {
    position: absolute;
    width: 32vh;
    height: 1vh;
    border-radius: 0.5vh;
    transform-origin: 0 0;
    left: -2%;
    bottom: -5%;
}

#climbSpeedBar::-webkit-progress-value {
    background-color: red;
    border-radius: 0.7vh;
}

#climbSpeedBar::-webkit-progress-bar {
    background-color: var(--invis);
}

.text {
    position: fixed;
    font-size: 1.6em;
    margin: 0;
    user-select: none;
}

#warningText {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: red;
    font-size: 1em;
    width: 100%;
    text-align: center;
    bottom: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

#warningText.warn {
    opacity: 0.5;
    animation: warn 0.3s infinite;
}

@keyframes warn {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }
}

.nextText {
    left: 110%;
    bottom: 100%;
}

.holdText {
    right: 110%;
    bottom: 100%;
}

.objectiveText {
    left: 110%;
    bottom: 10%;
}

#redochoices {
    position: absolute;
    top: 100%;
    left: 110%;
    width: 40vw;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.redochoice {
    height: 3.5vh;
    aspect-ratio: 1/1;
    border: 0.3vh solid var(--l-gray);
    border-radius: 10vmin;
    transition: all 0.3s ease-out;
    background-color: var(--invis);
    outline: none;
    color: var(--l-gray);
    margin: 0.3vmin;
}

.redochoice:hover {
    border-color: var(--cl-blue);
    color: var(--cl-blue);
    transition: all 0.05s ease;
}

.redochoice.selected {
    border-color: var(--p-green);
    color: var(--p-green);
}

.redochoice.selected:hover {
    border-color: var(--green);
    color: var(--green);
    transition: all 0.05s ease;
}

#timeLeftText {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: gold;
    font-size: 1em;
    width: 100%;
    text-align: center;
    bottom: 75%;
    opacity: 0;
    transition: all 0.3s ease;
}

#timeLeftText.warn {
    animation: timeLeft 5s;
}

@keyframes timeLeft {
    0% {
        opacity: 1;
        letter-spacing: 0px;
        color: gold;
    }

    5%{
        color: red;
    }

    10%{
        color: gold;
    }

    15%{
        color: red;
    }

    20%{
        color: gold;
    }

    25%{
        color: red;
    }

    30%{
        color: gold;
    }

    35%{
        color: red;
    }

    40%{
        color: gold;

    }

    45%{
        color: red;
    }

    50%{
        color: gold;
    }

    55%{
        color: red;
    }

    60%{
        color: gold;
    }

    65%{
        color: red;
    }

    70% {
        color:gold
    }

    75%{
        color: red;
    }

    80%{
        color: gold;
    }

    85%{
        opacity: 1;
        color: red;
    }

    90%{
        color: gold;
    }

    95%{
        color: red;
    }


    100% {
        opacity: 0;
        letter-spacing: 5px;
        color: gold;
    }
}

#garbageQueue {
    position: absolute;
    width: 122vh;
    height: 0.5vh;
    border-radius: 0.5vh;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    left: -2%;
    bottom: -1%;
}

#garbageQueue::-webkit-progress-value {
    background-color: red;
    border-radius: 0.7vh;
}

#garbageQueue::-moz-progress-value {
    background-color: red;
    border-radius: 0.7vh;
}

#speedrunTime{
    display:flex;
    position: absolute;
    width: 350%;
    height: 10%;
    left: -125%;
    bottom: -40%;
}

#speedrunTime.show{
    bottom: -20%;
    animation: showSpeedrunTime 1s;
    
}

#speedrunTime.hide{
    bottom: -40%;
    animation: hideSpeedrunTime .5s;
}

#speedrunTime.finish{
    bottom: 20%;
    animation: finishSpeedrun 4s;
    opacity: 0;
}

#speedrunTime>div{
    font-family: montserrat;
    font-weight: bold;
    text-align: center;
    line-height: 200%;
    text-shadow: 0 0 #000000;
    background-color: var(--slight-invis);
    width: 11%;
    height: 65%;
    margin: 1%;
}

#speedrunTime>div.clear{
    background-color: rgba(0, 199, 17, 0.521)
}

#speedrunTime>div.miss{
    background-color: rgba(199, 0, 0, 0.555)
}

#speedrunTime>div.focus{
    background-color: rgb(222, 222, 222);
    color: black;
}

@keyframes showSpeedrunTime {
    0%{
        bottom: -35%
    }
    100%{
        bottom: -20%
    }
}

@keyframes hideSpeedrunTime {
    0%{
        bottom: -20%
    }
    100%{
        bottom: -40%
    }
}

@keyframes finishSpeedrun {
    0%{
        opacity: 1;
        bottom: -20%
    }
    100%{
        bottom: 5%;
        opacity: 0;
    }
}
