/* main menu */
#settingsPanel[open] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: none;
    width: 100vw;
    height: 50vh;
    background-color: var(--invis);
    overflow: visible;
}

#settingsPanel>br {
    width: 100%;
    content: ' ';
}

button>img {
    -webkit-user-drag: none;
}

.settingPanelButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1%;
    height: 18vh;
    aspect-ratio: 1/1;
    border: 0.3vh solid var(--l-gray);
    border-radius: 1.5vh;
    transition: all 0.5s ease-out;
    background-color: var(--invis);
    padding: 0.5vh;
    outline: none;
}


.settingPanelButton>p {
    color: white;
    margin: 0;
    padding: 0;
    opacity: 0.3;
    transform: translateY(1vh);
    letter-spacing: 0.1em;
}

.settingPanelButton>img {
    height: 75%;
}

.settingPanelButton:hover {
    border: 0.3vh solid var(--cl-blue);
    transition: all 0.1s ease;
}

.settingPanelButton:disabled,
.smallPanelButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.smallPanelButton,
.smallerPanelButton {
    height: 6vh;
    width: 6vh;
    border-radius: 1vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.smallerPanelButton {
    height: 4vh;
    width: 4vh;
    border-radius: 0.7vh;
    border-width: 0.2vh;
}

.smallerPanelButton:hover {
    border-width: 0.2vh;
}

.smallerPanelButton>img {
    height: 100%
}

.spanleft {
    flex: 1;
    text-align: right;
    padding-right: 1vw;
    width: 9vw;
}

.spanright {
    flex: 1;
    padding-left: 1vw;
}

/* songs */
#songSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 15vh;
    overflow: visible;
    white-space: nowrap;
    opacity: 0.4;
    transition: all 0.5s ease;
}

#songSelector:hover {
    opacity: 0.8;
    transition: all 0.1s ease;
}

#songText {
    position: absolute;
    transform: translateY(-4vh);
    align-self: center;
    padding: 0;
    margin: 0;
}

#songProgress {
    height: 0.8vh;
    border-radius: 5vh;
}

#songProgress::-webkit-progress-bar {
    background-color: var(--e-black);
    border-radius: 5vh;
}

#songProgress::-moz-progress-bar {
    background-color: var(--e-black);
    border-radius: 5vh;
}


#songProgress::-webkit-progress-value {
    background-color: var(--cl-blue);
    border-radius: 5vh;
}

#songProgress::-moz-progress-value {
    background-color: var(--cl-blue);
    border-radius: 5vh;
}

/* option styles */
.range {
    appearance: none;
    -webkit-appearance: none;
    height: 1vh;
    width: 40%;
    right: 3%;
    border: 0.2vmin solid white;
    background: var(--e-black);
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.range:hover {
    border-color: var(--p-green);
}

.check {
    width: 3.5vh;
    height: 3.5vh;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--almost-invis);
    border: 0.2vmin solid white;
    border-radius: 3vh;
    transition: all 0.1s ease;
}

.check:hover {
    border-color: var(--p-green);
}

.check:checked {
    background-color: var(--p-green);
    border: none;
}

.textInput,
.dropdown,
.number {
    padding: 0.6vh;
    background-color: var(--almost-invis);
    border: 0.1vmin solid white;
    color: rgb(225, 225, 225);
    font-size: 1em;
}

.number {
    width: 20%;
    appearance: initial;
    -moz-appearance: textfield;
}

.textInput:hover,
.textInput:focus,
.dropdown:hover,
.dropdown:focus,
.number:hover,
.number:focus {
    border-radius: 0;
    outline: none;
    border-color: var(--p-green);
}

.keybind {
    padding: 0.5vh;
    background-color: var(--invis);
    border: none;
    font-size: 1em;
    color: var(--c-blue);
}

.settingRow:hover>.keybind {
    color: var(--p-green);
}

/* change keybinds */
#frontdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--slight-invis);
    overflow: hidden;
    color: var(--cl-blue);
    outline: none;
    user-select: none;
    border: none;
    animation: fadein 0.4s forwards ease;
    font-family: "Montserrat", sans-serif;
}

#frontdrop.closingAnimation {
    animation: fadeout 0.2s forwards ease;
}

#selectkeydiv {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-shadow: 0 0 3vh white;
}

#selectkeybigtext {
    transform: translateY(-8vh);
}

#selectkeytext {
    position: absolute;
    top: 46vh;
    font-size: 0.3em;
    text-shadow: 0 0 3vh white;
}

/* stats */

.actiontext,
.statstext {
    position: fixed;
    font-size: 3vh;
    text-shadow: 0 0 3vh var(--vl-gray);
    margin: 0;
    text-align: right;
    width: 200%;
    user-select: none;
    transition: all 0.2s ease;
    right: 105%;
}

.actiontext {
    opacity: 0;
}

.smalltext {
    position: absolute;
    font-size: 0.9em;
    color: var(--l-gray);
    user-select: none;    
}

#smallStat1,
#smallStat2,
#smallStat3 {
    right: 150%;
    font-size: 2.1vh;
    text-align: right;
}

#statName1,
#statName2,
#statName3 {
    text-align: right;
    right: 105%;
    transform: translateY(0.5vh);
}

.statText,
#explanationText,
#updatetext {
    display: flex;
    margin: 0;
    opacity: 0.4;
}

.statText {
    opacity: 1;
}

/* focus */
#nofocus {
    font-family: "Montserrat", sans-serif;
    display: none;
    opacity: 1;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
    color: red;
    font-size: 2.5em;
    padding: .2em;
    background-color: #000A;
    transition: 0.2s;
}

#nofocus span {
    display: block;
    color: #fff;
    font-size: .6em;
}