@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
    --night: #080b0c;
    --e-black: #1b1e22;
    --c-blue: #accbe1;
    --cl-blue: #dbeaf3;
    --l-gray: #ffffff50;
    --vl-gray: #ffffffc4;
    --invis: #00000000;
    --almost-invis: #00000024;
    --slight-invis: #000000cf;
    --p-green: #53b565;
    --green: #30f24d;
    --gray: #808080;
}

body {
    color: var(--cl-blue);
    font-family: "Major Mono Display", monospace;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: var(--night);
}

#splashScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--slight-invis);
    backdrop-filter: blur(10px);
    z-index: 1;
    text-shadow: 0 0 8vh rgb(255, 255, 255);
    transition: all 0.5s ease, display 1.5s allow-discrete;
    scale: 1;
}

#splashScreen>h1 {
    font-size: 7em;
    animation: pulse 2s infinite ease;
    opacity: 1;
}

#ignoreText {
    opacity: 0;
    transition: all 1s ease;
}

#openSettingsButton,
#editButton {
    top: 5%;
    position: fixed;
    left: 126%;
    display: flex;
    justify-content: right;
    padding-right: 3%;
    align-items: center;
    height: 8%;
    width: 24%;
    border: 0.2vh solid var(--l-gray);
    border-radius: 0 1.5vh 1.5vh 0;
    transition: all 0.5s ease-out;
    background-color: var(--invis);
    outline: none;
}

#editButton {
    top: 15%;
}

#openSettingsButton:hover,
#editButton:hover {
    left: 133%;
    border: 0.2vh solid var(--cl-blue);
    transition: all 0.2s ease;
}

#openSettingsButton>img {
    transform: translateY(10%);
    height: 90%;
    user-select: none;
}

#editButton>img {
    height: 100%;
    user-select: none;
}

/* scrollbars */
::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-track {
    border-radius: 1vh;
    background: var(--invis);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background: var(--vl-gray);
}

::-webkit-scrollbar-thumb:hover {
    background: white;
    transition: all 0.2s ease;
}

/* sliders */
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vh;
    height: 2.5vh;
    background: white;
    cursor: pointer;
}

.range::-webkit-slider-thumb:hover {
    background: var(--p-green);
}

/* remove number arrows */
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* animations */
@keyframes jump {
    0% {
        transform: translateY(0vmin);
    }

    50% {
        transform: translateY(0.2vmin);
    }

    100% {
        transform: translateY(0vmin);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes zoomin {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes zoomout {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}